.Palette {
  height: 100vh;
}

.PaletteColors {
  height: 90%;
}

.slider {
  width: 340px;
  margin: 10px 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}
.rc-slider-rail {
  height: 12px;
  box-shadow: 2px solid green;
  border: 1px solid black;
  margin: -2px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: darkgreen;
  outline: none;
  border: 2px solid black;
  box-shadow: none;
  width: 24px;
  height: 24px;
  margin-top: -8px;
}
